
#userInfo {
    font-size: 10pt;
    font-weight: normal;
    line-height: 15pt;
    padding-right: 20px;
    position: absolute;
    right: 40px;
    text-align: right;
    top: 5px;
    width: 300px;
}
label {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
}
.navItem {
    line-height: 1em;
}
.navItem a {
    color: #000000;
    display: block;
    font-size: 10pt;
    margin: 2px 0;
    padding: 13px 0 13px 35px !important;
    text-decoration: none;
}
.navItem a:hover {
    color: #1B35A4;
}
td.navItem {
    border-bottom: 2px dotted #FFFFFF !important;
    border-collapse: collapse;
    padding: 0;
    width: 145px;
}
td.last {
    border: medium none !important;
}
.clearLeft {
    clear: left;
}
.clear {
    clear: both;
}

.collect {
  background-color: #cf1f1f !important;
}

.collect tr {
    vertical-align: middle;
}
.collect th {
    color: #444444;
    font-size: 0.8em;
    padding: 5px;
    text-align: right;
    vertical-align: top;
}
.collect td {
    padding-bottom: 7px;
}
.collect th {
    padding-bottom: 12px;
}
.collect h3 {
    border-bottom: 1px solid #999999;
    color: #222222;
    font-size: 1em;
    font-weight: normal;
    margin: 8px 0 2px;
    padding: 0 0 2px;
}
.buttonbar {
    padding-left: 134px;
}
.collect .textarea {
    width: 249px;
}
.statement th {
    font-size: 10px;
    padding: 3px;
}
.statement td {
    border-right: 1px solid #333333;
    font-size: 10px;
    margin: 0;
    padding: 5px;
}
.statement td.number {
    text-align: right;
}
.statement tr.alt {
    background: none repeat scroll 0 0 #FCF9F0;
}
table.statement {
    border: 1px solid #333333;
}
.statement th {
    background: none repeat scroll 0 0 #000066;
    border-right: 1px solid #85C2DA;
    color: #FCF9F0;
}
.statement th:last-child, .statement td:last-child {
    border-right: medium none !important;
}
ul.accountHeader {
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}
.accountHeader li {
    border-right: 1px solid #808080;
    float: left;
    margin: 0;
    padding: 0 10px;
}
.accountHeader li.selected {
    font-size: 1.1em;
    font-weight: bold;
}
.accountHeader li.last {
    border-right: medium none;
}
.accountHeader li a {
    color: inherit;
    text-decoration: none;
}
.accountHeader li a:hover {
    color: #0000FF;
    text-decoration: underline;
}
.banner {
    padding: 10px;
}
.terms {
    color: #666666;
    font-family: Verdana;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
    margin-top: 20px;
    text-transform: uppercase;
}
.terms p {
    margin: 0 0 5px;
    padding: 0;
}
a.emailOptLink {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 2px solid #666666;
    display: block;
    float: left;
    margin: 0 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 250px;
}
a.emailOptLink:hover {
    background: none repeat scroll 0 0 #9A9A9A;
    color: #FFFFFF;
}
.padTop {
    font-style: italic;
    padding: 15px 0;
}
#cardInstructions {
    background-repeat: no-repeat;
}

#Registration {
  
 font-family: Montserrat, sans-serif;
 color: #007741 !important;
 background-color: #007741 !important;
 
}
